[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
flask_wtf = "*"
Flask-OAuthlib = "*"

[dev-packages]
Werkzeug = "0.14.1"


[requires]
python_version = "3.7"
