<!doctype html>
<html>
   <body>
      <h2 style = "text-align: center;">Enroll Hero Sample Form</h2>

      {% for message in form.last_name.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.first_name.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      {% for message in form.email.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      <form method="post" action="/success">
          {{ form.csrf_token }}
          {{ form.last_name.label }} {{ form.last_name(size=20) }} <br>
          {{ form.first_name.label }} {{ form.first_name(size=20) }} <br>
          {{ form.middle_initial.label }} {{ form.middle_initial(size=20) }} <br>
          <br>
          {{ form.gender.label }} {{ form.gender(size=20) }} <br>
          <br>
          {{ form.mailing_address.label }} {{ form.mailing_address(size=20) }} <br>
          {{ form.city.label }} {{ form.city(size=20) }} <br>
          {{ form.state.label }} {{ form.state(size=20) }} <br>
          {{ form.zip.label }} {{ form.zip(size=20) }} <br>
          {{ form.county.label }} {{ form.county(size=20) }} <br>
          <br>
          {{ form.home_tel.label }} {{ form.home_tel(size=20) }} <br>
          {{ form.email.label }} {{ form.email(size=20) }} <br>
          <br>
          {{ form.dob.label }} {{ form.dob(size=20) }} <br>
          {{ form.ssn.label }} {{ form.ssn(size=20) }} <br>
          <br>
          {{ form.req_start_date.label }} {{ form.req_start_date(size=20) }} <br>
          {{ form.pref_lang.label }} {{ form.pref_lang(size=20) }} <br>
          <br>

          <input type="submit" value="Go">
      </form>
   </body>
</html>
